@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: hsl(0, 100%, 66%);
  --white: hsl(0, 0%, 100%);
  --Light-grayish-violet: hsl(270, 3%, 87%);
  --Dark-grayish-violet: hsl(279, 6%, 55%);
  --Very-dark-violet: hsl(278, 68%, 11%);
  --linear-gradient: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  --font-size: 18px;
}

body {
  font-family: "Space Grotesk", sans-serif;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.top {
  width: 100%;
  height: 30vh;
  background-image: url("./images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-clip: border-box;
  margin-bottom: 4rem;
}

.bottom {
  padding: 0 1.25rem;
  width: 100%;
  height: 60vh;
}

input {
  border-radius: 10px;
  border: 1px solid var(--Light-grayish-violet);
  padding: 1rem;
  font-size: 1.25rem;
  outline: none;
  text-transform: uppercase;
}

input:focus {
  border-image-source: var(--linear-gradient);
  border-image-slice: 1;
  border-width: 1px;
  border-collapse: separate;
  border-radius: 10px;
}

input::placeholder {
  font-size: 1.25rem;
  font-weight: 500;
  padding: 1rem;
  color: var(--Light-grayish-violet);
}

.bottom label {
  font-size: 1rem;
  font-weight: 700;
  color: var(--Very-dark-violet);
}

.input-vertical input {
  width: 100%;
  height: 50px;
  margin: 0.5rem 0;
}

.input-horizontal input {
  height: 50px;
}

.input-horizontal {
  width: 100%;
  display: grid;
  column-gap: 5px;
  row-gap: 5px;
  grid-template-columns: 80px 80px 150px;
  grid-template-rows: 20px 50px;
  grid-template-areas:
    "label label label-cvc"
    "input-mm input-yy input-cvc"
    "span-date span-date span-cvc";
}

.input-horizontal input::placeholder {
  padding-left: unset;
}

.input-horizontal label {
  font-size: 1rem;
  padding-left: 5px;
}

.label-exp {
  grid-area: label;
}

.label-cvc {
  grid-area: label-cvc;
}

.input-mm {
  grid-area: input-mm;
}

.input-yy {
  grid-area: input-yy;
}

.input-cvc {
  grid-area: input-cvc;
}

.bottom button {
  width: 100%;
  height: 50px;
  border: none;
  background-color: var(--Very-dark-violet);
  border-radius: 10px;
  color: var(--Light-grayish-violet);
  font-size: 1.25rem;
  font-family: "Space Grotesk", sans-serif;
  margin: 1rem 0;
  cursor: pointer;
}

span {
  display: none;
  color: var(--red);
  margin-top: -20px;
  font-size: 12px;
  margin-top: 1px;
  margin-bottom: 2px;
}

input:invalid {
  border: 1px solid var(--red);
}

input:invalid ~ span {
  display: block;
}

.span-date {
  grid-area: span-date;
}

@media (min-width: 1199.98px) {
  .App {
    flex-direction: row;
  }

  .top {
    width: 35vw;
    height: 100vh;
    background-image: url("./images/bg-main-desktop.png");
  }

  .bottom {
    width: 30%;
    margin: auto;
  }

  .bottom label {
    font-size: 14px;
  }

  .input-vertical input {
    height: 40px;
  }

  .input-horizontal input {
    height: 40px;
  }

  input::placeholder {
    font-size: 1rem;
    padding: unset;
  }
}
